@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
@import url("https://fonts.googleapis.com/css?family=Muli");
main.site-about article.container header#about-header,
main.site-experience header#experience-header,
main.site-education header#education-header,
main.site-skills header#skills-header,
main.site-projects header#projects-header,
main.site-about article.container div.row section.bio h1 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 2em;
}

main.site-about article.container header#about-header,
main.site-experience header#experience-header,
main.site-education header#education-header,
main.site-skills header#skills-header,
main.site-projects header#projects-header {
  text-align: center;
}

main.site-about article.container header#about-header i,
main.site-experience header#experience-header i,
main.site-education header#education-header i,
main.site-skills header#skills-header i,
main.site-projects header#projects-header i {
  margin-right: 0.3em;
}

main.site-about article.container div.row section.bio h2,
main.site-experience main.container section.job-name,
main.site-education main.container section.edu-name,
main.site-skills div.d-flex header,
main.site-projects main.container section.project h1,
main.site-projects main.container section.project h2 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

main.site-about article.container div.row section.bio p,
main.site-experience main.container section.job-description,
main.site-education main.container section.edu-description,
main.site-projects main.container section.project p,
main.site-projects main.container section.project li {
  font-family: "Muli", sans-serif;
  font-size: 0.9em;
}

nav.navbar {
  -webkit-box-shadow: 0px 1px 19px 2px rgba(112, 111, 112, 0.6);
  -moz-box-shadow: 0px 1px 19px 2px rgba(112, 111, 112, 0.6);
  box-shadow: 0px 1px 19px 2px rgba(112, 111, 112, 0.6);
}

nav.navbar {
  -webkit-box-shadow: 0px 1px 19px 2px rgba(112, 111, 112, 0.6);
  -moz-box-shadow: 0px 1px 19px 2px rgba(112, 111, 112, 0.6);
  box-shadow: 0px 1px 19px 2px rgba(112, 111, 112, 0.6);
}

.bg-dark {
  background-color: #381d2a !important;
}

main.site-skills div.d-flex article img {
  width: 59px;
  height: 59px;
}

html {
  box-sizing: border-box;
  background-color: #dee8d3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: none;
  color: #381d2a;
}

div.home {
  margin: 55px auto 60px;
}

hr.red-line {
  padding: 0;
  border: 0;
  clear: both;
  height: 0.1em;
  background: #ba5624;
  display: block;
  border-radius: 0.25em;
}

hr.section-divider {
  padding: 0;
  border: 0;
  clear: both;
  height: 0.7em;
  background: #ba5624;
  display: block;
  border-radius: 0.25em;
}

ul {
  padding-left: 10px;
}

@media (max-width: 575px) {
  ul {
    padding-left: 0px;
  }
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

nav.navbar {
  height: 4rem;
  font-family: "Lato";
  color: white;
  font-weight: 800;
}

nav.navbar a.navbar-brand {
  padding: 0;
  font-size: 1.8em;
}

nav.navbar a.navbar-brand #nav-description {
  display: none;
}

nav.navbar i {
  font-size: 1.2em;
  margin-right: 0.3em;
}

nav.navbar ul.navbar-nav {
  flex-direction: row;
}

@media (max-width: 460px) {
  nav.navbar a.navbar-brand {
    font-size: 1.2em;
  }
  nav.navbar i {
    font-size: 1.4em;
    margin-right: 0.4em;
  }
}

main.site-about {
  padding-top: 2em;
}

main.site-about article.container div.row {
  padding: 15px;
  display: flex;
  align-items: center;
}

main.site-about article.container div.row img {
  margin: 0 auto;
  width: 277px;
  height: 277px;
  border-radius: 140px;
}

main.site-about article.container div.row div.profile {
  margin-top: 15px;
}

main.site-about article.container div.row section.bio h1,
main.site-about article.container div.row section.bio h2 {
  margin: 0;
}

main.site-about article.container div.row a.btn {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  padding: 0.3em;
  background-color: #ba5624;
  color: white;
}

main.site-experience main.container section.job-name {
  margin: 1em 0;
  text-align: right;
  border-right: 2px #555151 solid;
}

main.site-experience main.container section.job-name header.company-name {
  font-weight: 800;
  font-size: 18px;
}

main.site-experience main.container section.job-name main.job-role {
  font-weight: 400;
}

main.site-experience main.container section.job-description {
  margin: 1em 0;
}

@media (max-width: 575px) {
  main.site-experience main.container section.job-name {
    text-align: left;
    margin-left: 0;
    border-right: none;
    border-left: 2px #555151 solid;
  }
}

main.site-education main.container section.edu-name {
  margin: 1em 0;
  text-align: right;
  border-right: 2px #555151 solid;
}

main.site-education main.container section.edu-name header.edu-degree {
  font-weight: 800;
  font-size: 18px;
}

main.site-education main.container section.edu-name main.fac-name {
  font-weight: 400;
}

main.site-education main.container section.edu-description {
  margin: 1em 0;
}

main.site-education main.container section.edu-description span.badge {
  font-size: 15px;
  margin: 1px 1px 1px 0;
}

@media (max-width: 575px) {
  main.site-education main.container section.edu-name {
    text-align: left;
    margin-left: 0;
    border-right: none;
    border-left: 2px #555151 solid;
  }
}

main.site-skills div.d-flex {
  margin: 1em 0;
  text-align: center;
}

main.site-skills div.d-flex header {
  font-weight: 800;
}

main.site-skills div.d-flex article {
  margin: 0.3em;
  padding: 0.4em;
  border-radius: 1em;
  background-color: white;
}

main.site-skills div.d-flex article p {
  margin: 0 0 0.5em;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 0.9em;
}

main.site-skills div.d-flex section.languages article {
  border: 2.5px #f5c6cb solid;
}

main.site-skills div.d-flex section.frameworks article {
  border: 2.5px #b8daff solid;
}

main.site-skills div.d-flex section.databases article {
  border: 2.5px #c3e6cb solid;
}

main.site-skills div.d-flex section.testing article {
  border: 2.5px #c6c8ca solid;
}

main.site-skills div.d-flex section.deployment article {
  border: 2.5px #d7c0d0 solid;
}

main.site-projects main.container section.project {
  margin: 1em 0;
}

main.site-projects main.container section.project h1,
main.site-projects main.container section.project h2 {
  margin: 0;
}

main.site-projects main.container section.project h1 {
  font-weight: 800;
}

main.site-projects main.container section.project h1 a {
  color: inherit;
}

main.site-projects main.container section.project p,
main.site-projects main.container section.project li {
  display: inline-block;
}

main.site-projects main.container section.project a.btn {
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 0.8em 0.5em 0 0;
  background-color: #ba5624;
  color: white;
}

main.site-projects main.container section.project img {
  width: 100%;
  padding: 2px;
  border-radius: 1em;
}

main.site-projects main.container section.project img:hover {
  border: 2px #ba5624 solid;
}

div.footer {
  display: flex;
  justify-content: space-between;
}

.p-footer {
  margin: 0;
  font-family: "Muli", sans-serif;
  font-size: 0.8em;
}
